@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', sans-serif;

}

.header {
 width: 100%;
 height: 100vh;
 background: url('./images/bg1.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    background:#414a4c;
    z-index: 1;
    top: 0;
}
.navbar__container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.navbar__left-logo img{
     /* width: 110px; */
     margin-top: 0px;
     margin-bottom: 27px;
} 
.navbar__right {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;

}
.navbar__right li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 21px;
    padding: 0 15px;
    
}
.container {
    width: 1200px;
    /* margin: 0 auto; */
}

.row{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 35px;
    margin-top: 10px;
}

.col-6{
    width: 50%;
}

.header_content {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #262c2e;
    margin-left: 350px;
    margin-top: 35px;
}

.header_ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
}
.header_ul li{
    width: 50px;
    height: 50px;
    border: 2px solid #262c2e;
    border-radius: 50%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
/* .header_ul li:first-child {
    margin-left: 0px;
} */
.header_ul li:hover{
    width: 50px;
    height: 50px;
    border: 2px solid #6d797e;
    background: #bdbdbd;
    
    border-radius: 50%;
    display: flex; 
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    
} 

.header_section h1{
    margin-bottom: 17px;
    font-size: 57px;
    font-weight: 500;
}
.header_section p{
    
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 50px;
}
.btn {
    outline: none;
    border: none;
    color: #262c2e;
    /* font-weight: 500; */
    
    text-decoration: none;

}

.btn-outline {
    border: 2px solid #262c2e;
    border-radius: 23px;
    padding: 8px 40px;
}
.btn-outline:hover {
    border: 2px solid #888c8d;
    border-radius: 23px;
    padding: 10px 40px;
    background-color: #888c8d;
    font-size: 17px;
    padding: 8px 40px;

}